<h2 mat-dialog-title>
  משימה חדשה
  <button class="close-btn" mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content >
  <form [formGroup]="form" id="task-form" (ngSubmit)="onSubmit()">

    <!-- כותרת -->
    <div class="field-group">
      <label class="field-label">כותרת</label>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="title"
               placeholder="כותרת המשימה"
               autocomplete="off" />
        @if (form.controls.title.hasError('required') && form.controls.title.touched) {
          <mat-error>שדה חובה</mat-error>
        }
      </mat-form-field>
    </div>

    <!-- תיאור -->
    <div class="field-group">
      <label class="field-label">תיאור <span class="optional">· אופציונלי</span></label>
      <mat-form-field appearance="outline" class="full-width">
        <textarea matInput formControlName="description" rows="4"
                  placeholder="תיאור קצר של המשימה">
        </textarea>
      </mat-form-field>
    </div>

    <!-- סטטוס -->
    <div class="field-group">
      <label class="field-label">סטטוס</label>
      <mat-form-field appearance="outline" class="full-width">
        <mat-select formControlName="status">
          <mat-select-trigger>
            <span class="status-dot" [ngClass]="selectedStatus?.colorClass"></span>
            {{ selectedStatus?.label }}
          </mat-select-trigger>
          @for (s of statuses; track s.status) {
            <mat-option [value]="s.status">              
              <span class="status-dot" [ngClass]="s.colorClass"></span>
              {{ s.label }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <!-- עדיפות -->
    <div class="field-group priority-section">
      <label class="field-label">עדיפות</label>
      <mat-button-toggle-group formControlName="priority"
      class="priority-toggle-group" aria-label="עדיפות">
        <mat-button-toggle value="low" class="toggle-btn">
          <span class="dot dot-low" ></span>נמוכה
        </mat-button-toggle>
        <mat-button-toggle value="medium" class="toggle-btn">
          <span class="dot dot-medium"></span>בינונית
        </mat-button-toggle>
        <mat-button-toggle value="high" class="toggle-btn">
          <span class="dot dot-high"></span>גבוהה
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button class="submit-btn"
          form="task-form" type="submit"
          (click)="onSubmit()" [disabled]="form.invalid">
    צור משימה
  </button>
  <button mat-stroked-button class="cancel-btn" type="button" (click)="onCancel()">ביטול</button>
 
</mat-dialog-actions>